{% extends 'base.html.twig' %}
 
{% block title %}{{ slug }}{% endblock %}

{% block body %}
<h3>Bienvenu sur la recette numéro : {{ id }} </h3>
<h4>Comment faire 1 {{ slug |title }}</h4>
{# <p>Recette créée par {{ user.firstname }} {{ user.lastname }}</p> #}
<p>Recette créée par {{ user.firstname ~" "~ user.lastname }}</p>
{# {{ dump(user) }} #}
 {{ dump(app.current_route) }}
{% endblock %}